<!DOCTYPE html>
<html>
<head>
     <title>My Portfolio</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>

<body>

<nav class="navbar">
    <h2>Leon</h2>
    <div>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<section class="hero">
    <h1>Hello, I'm Leon</h1>
    <p>Web Developer & Cyber Security Student</p>
</section>

<section class="container">

    <div class="card">
        <h3>About Me</h3>
        <p>I am a student building web applications using Flask and MySQL. I focus on creating clean and functional systems.</p>
    </div>

    <div class="card">
        <h3>Skills</h3>
        <p>Python, HTML, CSS, MySQL, Basic Web Security</p>
    </div>

    <div class="card">
        <h3>Projects</h3>
        <p>Portfolio Website, Contact Form System, Database Integration</p>
    </div>

</section>

<footer>
    <p>© 2026 Leon | all rigths reserved</p>
</footer>

</body>
</html>